   *{
    margin: 1%;
    padding: 0px;
    font-family:"League Spartan" ;
    src: url(LeagueSpartan-VariableFont_wght.ttf) format('woff2');
    }
  body{
    background-color: #7EBCE6;
    overflow-x: hidden;   
  }
  .main-container{
    height: 500px;
    width: 1325px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header {
    position: absolute;
    width: 65%;
    font-family: 'CustomFont';
    z-index: 9999; 
    text-align: right;
    left:420px;
    margin-left: 0px;
    margin-right: opx;
  }
  .header nav{
    margin-left: 0px;
  }
  .header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .header nav ul li {
    display: inline;
  }
  .header nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    transition:color 0.3s;
  }
  #contact{
    margin-right: 0px;
    padding-right: 0px;
  }
  .line{
    position: absolute;
    width: 85px;
    height: 4px;
    left: 71px;
    top: 50px;
    background-color: #21897E;
    transition: left 0.3s ease;
  }
  .logo{
    position: relative;
    left: 40px;
  }
  .intro {
    margin-top: 40px;
    font-size: 20px;
  }
  .intro h2{
    padding-top: 50px;
  }
  .face{
    position: relative;
    text-align: right;
    margin-right: 150px;
    bottom: 320px;
  }
  .gray-block{
    position: relative;
    background-color:#7B6D8D;
    width: 570px;
    height: 55px;
    top: 30px;
    left: -70px;
  }
  .footer{
    color: white;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: -280px;
    width: 50%;
  }
