*{
    margin: 1%;
    padding: 0px;
    font-family:"League Spartan" ;
    src: url(LeagueSpartan-VariableFont_wght.ttf) format('woff2');
    }
  body{
    background-color: #7EBCE6;
    overflow-x: hidden;
  }
  .main-container{
    height: 800px;
    width: 1325px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header {
    position: absolute;
    width: 65%;
    font-family: 'CustomFont';
    z-index: 9999; 
    text-align: right;
    left:420px;
    margin-left: 0px;
    margin-right: opx;
  }
  .header nav{
    margin-left: 0px;
  }
  .header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .header nav ul li {
    display: inline;
  }
  .header nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    transition:color 0.3s;
  }
  #contact{
    margin-right: 0px;
    padding-right: 0px;
  }
  .line{
    position: absolute;
    width: 150px;
    height: 4px;
    left: 452px;
    top: 50px;
    background-color: #21897E;
    transition: left 0.3s ease;
  }
  .logo{
    position: relative;
    left: 40px;
  }
  .intro {
    margin-left: 120px;
    margin-top: -130px;
    font-size: 20px;
    width: 1000px;

    
  }
  .intro h1{
    padding-top: 40px;
    text-align: center;
  }
  .gray-block{
    position: relative;
 
    width: 890px;
    height: 100px;
    top: 30px;
    left: 70px;
    border-radius: 30px;
  }
  .gray-block h1{
    position: relative;
    left: 17px;
    top: 38px;
  }
  .container{
    width:1000px;
    margin:auto;
    position: absolute;
    left: 0px;
    top: -15px; 
   
  }
  .item{
    font-size:13px;
    text-align: center;
    color:#FFFFFF; 
    margin-left: 20px;
    margin-right: 20px;
    display:inline-block;
    background-color:#7B6D8D;
    padding: 40px;
    border-radius: 30px; 
    }
    .item1{
        font-size: 14px;
        width: 160px;
        height: 226px;
        transition: height 0.5s ease;
    }
    .item1 p{
        margin-top: 15px;
    }
    .tbinfo {
      position: absolute;
      opacity: 0;
      visibility:hidden;
      width: 220px;
      bottom: 60px;
      left: 20px;
      color: white;
      font-size: 15px;
      text-align: justify;
      transition: opacity 2s ease, visibility 1s ease;
       
    }
    .item2{
        width: 220px;
        height:210px;
        text-align: center;
        transition: height 0.3s ease;
    }
    .item2 p{
        margin-top: 15px;
        font-size: 14px;
        width: 150px;
        text-align: center;
    }
    .figinfo {
      position: absolute;
      opacity: 0;
      visibility:hidden;
      width: 225px;
      bottom: 40px;
      left: 331px;
      color: white;
      font-size: 15px;
      text-align: justify;
      transition: opacity 2s ease, visibility 1s ease;
    }
    .item3{
        font-size: 14px;
        height: 230px;
        text-align: center;
        transition: height 0.3s ease;
    }
    .item3 p{
        margin-top: 15px;
    }
    .pcinfo {
      position: absolute;
      opacity: 0;
      visibility:hidden;
      width: 205px;
      bottom: 50px;
      left: 653px;
      color: white;
      font-size: 15px;
      text-align: justify;
      transition: opacity 2s ease, visibility 1s ease;
    }
    .tbimg {
        overflow: hidden;
        border-radius: 30px; 
        margin: 0%;
    }
    .tbimg img {    
        margin: 0%;
    }
    .figImg {
        overflow: hidden;
        border-radius: 30px; 
        margin: 0%;
    }.figImg  img{
        margin: 0%;
    }
    .figtxt{
      margin-left: 15%;
    }
    .pcImg{
        border-radius: 30px; 
        overflow: hidden;
        margin: 0%;
    }
    .footer{
      color: white;
      text-align: center;
      display: block;
      margin: auto;
      margin-top: 440px;
      width: 50%;
    }
    